.nav{
    background: #F2F4F6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    display: grid;
}
.li{
    color: #baf77b;
    display:inline;
     padding-left:3px;
     padding-right:3px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    text-align: -webkit-match-parent;
    white-space: nowrap;
    font-weight: 400;
    margin-left: 2em;
    margin-right: 2em;
}

.ul{
    margin-left: 16px;
    line-height: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

.link{
    text-decoration: none;
    color: black;
}